* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: #f1f2ec;
  font-family: "Josefin Sans", sans-serif;
}

main {
  flex: 1;
  padding: 1rem;
  position: relative;
}

.esquinero {
  width: 4rem;
  height: 4rem;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}
.esquinero img {
  width: 100%;
  height: 100%;
}

.bl {
  bottom: 2vh;
  left: 2vw;
  display: none;
}

.br {
  bottom: 2vh;
  right: 2vw;
  display: none;
}

.tl {
  top: 2vh;
  left: 2vw;
}

.tr {
  top: 2vh;
  right: 2vw;
}

h1 {
  font-family: "Bree Serif", serif;
  font-size: 3rem;
}

h2 {
  font-family: "Bree Serif", serif;
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
}

h3 {
  font-family: "Bree Serif", serif;
  font-size: 2rem;
  padding: 1rem;
  text-align: left;
}

h4 {
  font-family: "Bree Serif", serif;
  font-size: 1.75rem;
  padding: 1rem;
  text-align: left;
  color: #f1f2ec;
  font-style: italic;
  border-bottom: grey solid 0.1rem;
  display: inline-block;
  width: 90%;
}

a {
  text-decoration: none;
  color: #f1f2ec;
}

p {
  font-size: 2rem;
  text-indent: 2rem;
  text-align: justify;
  line-height: 2.5rem;
  margin: 1rem;
}

label {
  width: 100%;
  color: grey;
  align-self: center;
}
label a {
  color: grey;
}

.header {
  background-color: #223371;
  width: 100vw;
  height: 6rem;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.header__static {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
}
.header__static__logo {
  height: 5rem;
  width: 5rem;
  position: absolute;
  left: 0.5rem;
  top: 0.35rem;
  padding: 0.25rem;
}
.header__static img {
  border-radius: 100%;
  width: 100%;
}
.header__static__title {
  width: 60vw;
  padding: 0.75vh 0 1vh 1vw;
  position: absolute;
  top: 0;
  left: 20vw;
  color: #f1f2ec;
  background-color: #223371;
}

.header__navbar__icon {
  position: absolute;
  right: 1rem;
  top: 1.25rem;
  cursor: pointer;
  background-color: #223371;
  z-index: 1;
}
.header__navbar__icon__line {
  background-color: #f1f2ec;
  height: 0.25rem;
  width: 3rem;
  border-radius: 1rem;
  margin: 0.5rem;
}
.header__navbar__ul {
  background-color: #223371;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100vw;
  position: relative;
  top: -18rem;
  transition: all 1s ease-in-out;
  z-index: 0;
}
.header__navbar__ul.open {
  position: relative;
  top: 5.5rem;
}
.header__navbar__ul__li {
  font-size: 2rem;
  padding: 0.5rem;
  opacity: 0;
}
.header__navbar__ul__li.fade {
  opacity: 1;
}
.header__navbar__ul__li:nth-child(1) {
  transition: all 0.8s ease-in;
}
.header__navbar__ul__li:nth-child(2) {
  transition: all 0.85s ease-in;
}
.header__navbar__ul__li:nth-child(3) {
  transition: all 0.9s ease-in;
}
.header__navbar__ul__li:nth-child(4) {
  transition: all 0.95s ease-in;
}
.header__navbar__ul__li:nth-child(5) {
  transition: all 1s ease-in;
}

.active a {
  color: #82bcee;
}

.footer {
  width: 100vw;
  height: fit-content;
  padding-top: 1rem;
  background-color: #223371;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__redes p {
  color: #f1f2ec;
  font-size: 2rem;
  font-weight: bold;
}
.footer__redes ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.footer__redes ul li {
  width: 5rem;
  height: 5rem;
}
.footer__redes ul li img {
  width: 100%;
  filter: invert(98%) sepia(17%) saturate(217%) hue-rotate(33deg) brightness(103%) contrast(90%);
}
.footer a {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.index__aside {
  margin: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.index__aside img {
  width: 100%;
}

.index__section__cita {
  font-style: italic;
}

.index__section__autor {
  text-align: right;
}
.index__section__autor a {
  color: blue;
}

.index__section__aclaracion {
  font-weight: bold;
}

.horarios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.horarios__direccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.horarios__direccion__mapa--md {
  display: none;
}

.sobreNosotros__aside {
  margin: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.sobreNosotros__aside img {
  width: 100%;
}

.comidas {
  background-color: #82bcee;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 0.1rem #223371 inset;
}
.comidas h3 {
  opacity: 0.7;
}
.comidas ul {
  padding: 0.5rem;
  list-style-image: url(../../images/icono_ul.png);
  list-style-position: inside;
}
.comidas p {
  font-size: 1.5rem;
  opacity: 0.9;
}

.menu__imagenes {
  width: 100%;
  margin: 1rem 0 1rem 0;
  border-radius: 0.5rem;
  overflow: hidden;
}
.menu__imagenes img {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.menu__imagenes__md {
  display: none;
}

.carousel {
  width: 95vw;
  height: 40vh;
  position: relative;
}
.carousel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
  transition-delay: 0.2s;
}
.slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  transition-delay: 0s;
}

.carousel__boton {
  position: absolute;
  z-index: 1;
  background: none;
  border: none;
  font-size: 4rem;
  color: #f1f2ec;
  opacity: 0.5;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: #82bcee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__boton:hover, .carousel__boton:focus {
  opacity: 1;
}

.carousel__boton:focus {
  outline: 1px solid black;
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

.prensa__container {
  border-radius: 0.5rem;
  border: #223371 solid 2px;
  margin: 1rem;
  padding-bottom: 1rem;
}

.prensa__section {
  display: flex;
  flex-direction: column;
}
.prensa__section a {
  color: #223371;
  background-color: #82bcee;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  align-self: center;
}

.prensa__aside {
  margin: 1rem;
  overflow: hidden;
}
.prensa__aside img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

@media screen and (min-width: 600px) {
  .br {
    display: block;
  }
  .bl {
    display: block;
  }
  .index__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .index__aside {
    width: 45%;
    display: inline-block;
  }
  .index__section {
    width: 55%;
    display: inline-block;
  }
  .menu__imagenes {
    display: flex;
    justify-content: center;
  }
  .menu__imagenes__sm {
    display: none;
  }
  .menu__imagenes__md {
    display: inline-block;
  }
  .menu__section {
    display: flex;
    flex-direction: column;
  }
  .comidas {
    width: 80%;
    align-self: center;
  }
  .sobreNosotros__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sobreNosotros__section {
    width: 55%;
    display: inline-block;
  }
  .sobreNosotros__aside {
    width: 45%;
    display: inline-block;
    align-items: center;
  }
  .prensa__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .prensa__section {
    width: 55%;
  }
  .prensa__aside {
    width: 45%;
  }
}
@media screen and (min-width: 768px) {
  .horarios__container {
    display: flex;
    flex-direction: row;
    align-items: start;
  }
  .horarios__horarios {
    width: 50%;
    display: inline-block;
  }
  .horarios__direccion {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  .horarios__direccion__mapa--sm {
    display: none;
  }
  .horarios__direccion__mapa--md {
    display: block;
    width: 95%;
    justify-self: center;
  }
  .menu__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
  }
  .menu__section {
    width: 49%;
    display: inline-block;
  }
  .comidas {
    width: 100%;
  }
  .menu__imagenes {
    width: 49%;
    display: inline-flex;
    position: sticky;
    top: 10rem;
  }
  .carousel {
    height: 80vh;
  }
  .menu__vinos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comidas__vinos {
    width: 85%;
  }
}
@media screen and (min-width: 900px) {
  .header {
    justify-content: space-between;
  }
  .header__static {
    width: 20%;
  }
  .header__static__title {
    left: 7vw;
    width: fit-content;
  }
  .header__navbar {
    width: 75%;
  }
  .header__navbar__icon {
    display: none;
  }
  .header__navbar__ul {
    width: 100%;
    top: 1.5rem;
    flex-direction: row;
    transition: all 0s;
    z-index: 1;
  }
  .header__navbar__ul.open {
    top: 1.5rem;
  }
  .header__navbar__ul__li {
    opacity: 1;
  }
  .header__navbar__ul__li:nth-child(1) {
    transition: all 0s;
  }
  .header__navbar__ul__li:nth-child(2) {
    transition: all 0s;
  }
  .header__navbar__ul__li:nth-child(3) {
    transition: all 0s;
  }
  .header__navbar__ul__li:nth-child(4) {
    transition: all 0s;
  }
  .header__navbar__ul__li:nth-child(5) {
    transition: all 0s;
  }
  .fade-in-der {
    animation: fadeInDer 2s ease-in-out;
  }
  @keyframes fadeInDer {
    from {
      opacity: 0;
      transform: translate(100px);
    }
    to {
      opacity: 1;
      transform: translate(0);
    }
  }
}
@media screen and (min-width: 1200px) {
  .sobreNosotros__aside {
    max-height: 40vh;
  }
  .sobreNosotros__aside img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .prensa__aside {
    max-height: 40vh;
  }
  .prensa__aside img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

/*# sourceMappingURL=styles.css.map */
