$color-main: #223371;
$color-secondary: #f1f2ec;
$font-color: #223371;
$color-highlight: #82bcee;
$filter-main: invert(16%) sepia(21%) saturate(5034%) hue-rotate(211deg) brightness(99%) contrast(93%);
$filter-secondary: invert(98%) sepia(17%) saturate(217%) hue-rotate(33deg) brightness(103%) contrast(90%);
$font-text: 'Josefin Sans', sans-serif;
$font-title: 'Bree Serif', serif;